<section class="mb-24 flex flex-col justify-center md:flex-row items-center gap-2">
    <div>
        <img src="/polera.png" class="h-60" alt="">
    </div>
    <div class="text-center md:text-left">
        <p class="text-[#797979] md:text-4xl">Dress Yourself</p>
        <p class="text-4xl font-bold">BE UNIQUE</p>
        <p class="mt-4 text-sm">Discover the Essencials for thia Season <br> The best </p>
        <button class="border mt-4 border-b-black text-sm font-bold px-3 border-b-2 transition-colors duration-300 ease-in-out hover:bg-black hover:text-white">
            SHOW NOW
        </button>          
    </div>
    
</section>