<header class="flex flex-wrap h-14 md:mx-28 items-center justify-around">
    <div class="flex-1 text-center">
        <h1 class="font-bold text-lg">LUSSO</h1>
    </div>
    <div class="flex justify-center flex-1 gap-5 text-lg">
        <a href="#" class="font-light">Producto</a>
        <a href="#" class="font-light">Nosotros</a>
        <a href="#" class="font-light">Contacto</a>
    </div>
</header>
