---

---

<div class="bg-[#F2F1EF] flex flex-col md:flex-row justify-center items-center mx-28">
    <div class="mt-36 text-center md:text-left">
        <div class="flex flex-col">
            <p class="text-black text-6xl md:text-8xl font-light">WE ARE</p>
            <p class="text-black text-6xl md:text-8xl font-bold">DENIM</p>
            <div>
                <p class="mt-10 font-bold text-sm md:text-base">Your new look is just a click away. With our new jeans collection you <br> will look stunning.</p>
                <button class="mt-7 bg-black text-white p-3 px-7 transition-colors duration-300 ease-in-out hover:bg-gray-800">Shop Now</button>
            </div>
        </div>
    </div>
    <div class="flex items-center mt-10 md:mt-0">
        <img src="/modelo.png" alt="Modelo" class="w-48 md:w-[700px]">
    </div>
</div>


